@model CadastroViewModel
@{
    Layout = "_LayoutSite";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4" style="">
        <section id="carrossel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/imagens/img2.jpg" class="d-block w-100 image">
                </div>
                <div class="carousel-item">
                    <img src="~/imagens/img3.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="~/imagens/img4.jpg" class="d-block w-100 image2">
                </div>
                <a class="carousel-control-prev" href="#carrossel" role="button" data-slide="prev"><</a>
                <a class="carousel-control-next" href="#carrossel" role="button" data-slide="next">></a>
            </div>
        </section>
        <section id="descricao">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure iusto dolores nulla nostrum vitae fugiat nam possimus perferendis, inventore quidem sequi, officia exercitationem numquam incidunt alias distinctio placeat illum aspernatur.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus odit ad ducimus sunt iusto sed eum eveniet delectus, doloremque sequi at nesciunt facilis saepe eos reprehenderit earum placeat neque hic!
            </p>
        </section>
    </div>
    <div class="col-md-8" id="divFomulario" style="">
        <h2>Estude Conosco! Inscreva-se abaixo para a pré-matrícula</h2>
        <form id="formCadastro">
            <div class="form-group">
                <label for="txtNome">Nome completo</label>
                <input type="text" id="txtName" class="form-control" onblur="validaNome()" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" class="form-control" onblur="validaEmail()" placeholder="Digite seu email">
            </div>
            <div class="form-group">
                <label for="txtFone">Telefone</label>
                <input type="text" id="txtFone" class="form-control" onblur="validaTel()" placeholder="Digite o seu número de telefone">
            </div>
            <div class="form-group">
                <label for="selCurso">Curso</label>
                <select id="selCurso" class="form-control" required>
                    <option value="0">-- Escolha um curso --</option>
                    @if(Model.Cursos != null)
                    {
                        foreach(Curso c in Model.Cursos)
                        {
                            <option value="@c.Id">@c.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="selTurma">Turma</label>
                <select id="selTurma" class="form-control"></select>
            </div>
            <span style="font-style: italic;">*Entraremos em contato para a coclusão da matrícula</span>
            <button type="submit" class="btn btn-primary float-right">Enviar</button>
        </form>
    </div>
    <div class="col-md-8" id="divCadastrado" style="display: none;">
        <h2>Obrigado pelo seu registro. Em breve contactaremos de volta!</h2>
    </div>
</div>
<div class="modal" id="modalLoading">
    <div class="d-flex justify-content-center h-100">
        <div class="spinner-border m-auto" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>